/node_modules
/public/hot
/public/storage
/public/js
/public/static
public/css
public/favicon.ico
public/favicon.png
public/fonts
public/images
public/img
public/mix-manifest.json
/resources/assets/js/vendors
/resources/assets/js/bower_components
/resources/assets/js/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
resources/assets/vendor

